<div class="row">
  <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Detalle de ingresos y gastos</h4>

          <table class="table">
            <thead>
              <tr class="cursor">
                <th (click)="ordenar('descripcion')">
                  Descripción
                  <i *ngIf="getOrdenIcono('descripcion')" [class]="getOrdenIcono('descripcion')"></i>
                </th>
                <th (click)="ordenar('importe')">
                  Importe
                  <i *ngIf="getOrdenIcono('importe')" [class]="getOrdenIcono('importe')"></i>
                </th>
                <th (click)="ordenar('tipo')">
                  Tipo
                  <i *ngIf="getOrdenIcono('tipo')" [class]="getOrdenIcono('tipo')"></i>
                </th>
                <th>
                  <i *ngIf="ordenCriterios.length > 0" class="fa fa-times" (click)="ordenCriterios=[]"></i>
                </th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of ingresosGastos | ordenItems : ordenCriterios">
                <td>{{item.descripcion | titlecase}}</td>
                <td>{{ item.importe | number:'1.2-2' }} €</td>
                <td [class.text-success]="item.tipo==='ingreso'" [class.text-danger]="item.tipo==='gasto'">
                  {{item.tipo | titlecase}}
                </td>
                <td>
                  <button (click)="borrar(item)" type="button" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>

          </table>


        </div>
      </div>
  </div>
</div>
